.form-container {
    border: 2px solid black;
    width: 80%;
    margin: 5% 10%;
    display: flex;
    border-radius: 8px;
    background-color: antiquewhite;
}

.form-left {
    margin:5%;
    margin-right: 0;
    padding: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
    gap:1rem;
}
.sucess{
    margin:5%;
    margin-right: 0;
    padding: 30px;
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    align-content: center;
    text-align: center;
    color: #68B984;
}
.sucess-span{
    font-size: 1.5rem;
}
.form-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin:5%;
}
.input{
    min-height: 50px;
    border-radius: 4px;
    font-size: 1rem;
    padding:  0 1rem;
    border:2px solid black;
}
.input:focus{
    box-shadow: 5px 5px 5px black;
}
.textarea{
    padding: 1rem;
}
.h3-text{
    text-align: center;
}
.label{
    font-weight: 700;
}
.btn{
    background-color: #1d2d60;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
.modelBtn{
    font-size: 1rem;
}
.btn:hover{
    background-color: transparent;
    color:#1d2d60 ;
    box-shadow: 2px 2px 10px black;
}

.modelBody {
    background: transparent;
    text-align: center;
    padding: 0;
}
.modelHead{
    display: flex;
    justify-content: center;
    padding: 0;
}
.modelHeadImg{
     max-height: 200px;
     padding: 0;
}
.modelFooter{
    padding: 0;
}

.detailCard {
    margin-top: 150px;
    padding: 0;
    box-shadow: 10.5px 10.5px 7px black;
}
