@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    /* height: 100vh;
    height: calc(var(--vh) * 100); */
}

/* Hiding the scrollbar */
html {
    /* overflow: scroll; */
    scrollbar-width: none !important;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    width: 100%;
}

.sliderIn {
    animation: normal 3s slideIn;
}

@keyframes slideIn {
    from {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(0%);
    }

    75% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(100%)
    }
}

.loader-bg {
    background: linear-gradient(90deg, #e8e8e8 10%, #f1f1f1 20%, #e9e9e9 35%);
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

/* Page landing animations */

.pageFadeIn {
    animation: pageFadeIn ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes pageFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pageInEffectRight {
    animation: pageInEffectRight ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes pageInEffectRight {
    0% {
        opacity: 0;
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.pageInEffectUp {
    animation: pageInEffectUp ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes pageInEffectUp {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.pageInEffectDown {
    animation: pageInEffectDown ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes pageInEffectDown {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}